<section id="main" *ngIf="!loggedIn">
    <div class="monopoly-background">
        <div class="welcomeGuest">
            <h1>Welcome to TableTop Reviews</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>
</section>
<!-- NOTIFICATIONS -->
<div *ngIf="httpError" id="notification">
    <p>{{httpError}}</p>
</div>
<!-- NOTIFICATIONS -->
<section id="main" *ngIf='loggedIn'>
    <div class="monopoly-background">
        <div class="recent-reviews">
            <h1>Most Recent Reviews</h1>
            <ul class="game-cover">
                <li *ngFor="let review of recentReviews">
                    <h3>{{review.title}}</h3>
                    <a routerLink="/review/details/{{review.objectId}}"><img src={{review.imageUrl}}
                            alt="game-image"></a>
                    <p>Creator: {{review.creator}}</p>
                </li>
            </ul>
        </div>
    </div>
</section>