<section id="main">
    <div class="monopoly-background">
        <div class="recent-reviews">
            <h1>Table Top Reviews</h1>
            <ul class="game-cover">
                <li>
                    <h3>Pandemic</h3>
                    <a routerLink="/review/details/1"><img
                            src="https://images-na.ssl-images-amazon.com/images/I/814F5EyoMoL._AC_SL1500_.jpg"
                            alt=""></a>
                    <p>Autor: Rainhard</p>
                </li>
                <li>
                    <h3>Pandemic</h3>
                    <a routerLink="/review/details/1"><img
                            src="https://images-na.ssl-images-amazon.com/images/I/814F5EyoMoL._AC_SL1500_.jpg"
                            alt=""></a>
                    <p>Autor: Rainhard</p>
                </li>
                <li>
                    <h3>Pandemic</h3>
                    <a routerLink="/review/details/1"><img
                            src="https://images-na.ssl-images-amazon.com/images/I/814F5EyoMoL._AC_SL1500_.jpg"
                            alt=""></a>
                    <p>Autor: Rainhard</p>
                </li>
                <li>
                    <h3>Pandemic</h3>
                    <a routerLink="/review/details/1"><img
                            src="https://images-na.ssl-images-amazon.com/images/I/814F5EyoMoL._AC_SL1500_.jpg"
                            alt=""></a>
                    <p>Autor: Rainhard</p>
                </li>
                <li>
                    <h3>Pandemic</h3>
                    <a routerLink="/review/details/1"><img
                            src="https://images-na.ssl-images-amazon.com/images/I/814F5EyoMoL._AC_SL1500_.jpg"
                            alt=""></a>
                    <p>Autor: Rainhard</p>
                </li>
                <li>
                    <h3>Pandemic</h3>
                    <a routerLink="/review/details/1"><img
                            src="https://images-na.ssl-images-amazon.com/images/I/814F5EyoMoL._AC_SL1500_.jpg"
                            alt=""></a>
                    <p>Autor: Rainhard</p>
                </li>
                <li>
                    <h3>Pandemic</h3>
                    <a routerLink="/review/details/1"><img
                            src="https://images-na.ssl-images-amazon.com/images/I/814F5EyoMoL._AC_SL1500_.jpg"
                            alt=""></a>
                    <p>Autor: Rainhard</p>
                </li>
                <li>
                    <h3>Pandemic</h3>
                    <a routerLink="/review/details/1"><img
                            src="https://images-na.ssl-images-amazon.com/images/I/814F5EyoMoL._AC_SL1500_.jpg"
                            alt=""></a>
                    <p>Autor: Rainhard</p>
                </li>
                <li>
                    <h3>Pandemic</h3>
                    <a routerLink="/review/details/1"><img
                            src="https://images-na.ssl-images-amazon.com/images/I/814F5EyoMoL._AC_SL1500_.jpg"
                            alt=""></a>
                    <p>Autor: Rainhard</p>
                </li>
            </ul>
        </div>
    </div>
</section>
