<section id="main">
    <div class="monopoly-background">
        <div *ngIf="isLoading" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div class="container">
            <div class="profile">
                <div id="user">
                    <img src={{user.profilePictureUrl}}
                        alt="profile picture">
                    <h1>{{user.username}}</h1>
                </div>
                <div id="user-reviews-list">
                    <h2>Account information </h2>
                    <ul>
                        <li>Created : {{createdDate}}</li>
                        <li>Last online: {{lastLogin}}</li>
                    </ul>
                </div>
        </div>
    </div>
</div>
</section>
