<section id="main">
    <div class="monopoly-background">
        <div class="container">
        <div class="profile">
            <div id="user">
                <img src="https://s.abcnews.com/images/GMA/191211_gma_thunberg1_hpMain_16x9_992.jpg" alt="">
                <h1>Username</h1>
            </div>
            <div id="user-reviews-list">
                <h2>Username's reviews</h2>
                <ul>
                    <li>Pandemic</li>
                    <li>Shadows over Camelot</li>
                </ul>
            </div>
            <div id="user-favorite-list">
                <h2>Username's favorite games</h2>
                <ul>
                    <li>Pandemic</li>
                    <li>Shadows over Camelot</li>
                </ul>
            </div>
          
        </div>
        </div>
 </div>
</section>
