<section id="main">
    <div class="monopoly-background">
        <div class="container">
        <div class="profile">
            <div id="user">
                <img src={{user.profilePictureUrl}} alt="https://thumbs.dreamstime.com/b/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg">
                <h1>{{user.username}}</h1>
            </div>
            <div id="user-reviews-list">
                <h2>Account information </h2>
                <ul>
                    <li>Created : {{createdDate}}</li>
                    <li>Last online: {{lastLogin}}</li>
                </ul>
            </div>
            <div id="user-favorite-list">
                <h2>Username's favorite games</h2>
                <ul>
                    <li>Pandemic</li>
                    <li>Shadows over Camelot</li>
                </ul>
            </div>
          
        </div>
        </div>
 </div>
</section>
