<section id="main">
    <div class="monopoly-background">
        <div id="form-container">
            <h2>Edit Review</h2>
            <form class="forms-style" action="" method="POST">
                <input type="text" placeholder="Game Title">
                <input type="text" placeholder="Image Url">
                <textarea name="review-text" id="review-content" cols="30" rows="10"></textarea>
                <label for="public">Public</label>
                <input type="checkbox" name="public">
                <button type="submit">Create</button>
            </form>
        </div>
      
    </div>
</section>
