<header>
    <nav>
        <a routerLink="" class="logo">TableTop Reviews</a>
        <ul>
            <li *ngIf='!loggedIn'><a routerLink="/user/register">Register</a></li>
            <li *ngIf='!loggedIn'><a routerLink="/user/login">Login</a></li>
            <li *ngIf='loggedIn'><a routerLink="/user/profile">Welcome {{user.username}}</a></li>
            <li *ngIf='loggedIn'><a routerLink="/user/myReviews">My Reviews</a></li>
            <li *ngIf='loggedIn'><a routerLink="/review/allReviews">Reviews</a></li>
            <li><a routerLink="/about">About</a></li>
            <li id="logout-btn" *ngIf='loggedIn' (click)="onLogout()"><a >Logout</a></li>
        </ul>
    </nav>
</header>

