<section id="main">
    <div class="monopoly-background">
        <div *ngIf="isLoading" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <!-- NOTIFICATIONS -->
        <div *ngIf="httpError" id="notification">
            <p>{{httpError}}</p>
        </div>
        <!-- NOTIFICATIONS -->
        <div class="review">
            <h1>{{currentReview.title}}</h1>
            <p>{{currentReview.content}}</p>
            <ul>
                <li *ngIf="!isCreator && !alreadyLiked"><a style="cursor: pointer;" (click)="onLike()">Like</a></li>
            </ul>
            <p id="creator">Creator: {{currentReview.creator}}</p>
            <p id="totalLikes">Likes: {{currentReview.likes.length}}</p>
        </div>
    </div>
</section>